<div class="emoji-picker">
    <span (click)="pick('😀')">😀</span>
    <span (click)="pick('😁')">😁</span>
    <span (click)="pick('😂')">😂</span>
    <span (click)="pick('😃')">😃</span>
    <span (click)="pick('😄')">😄</span>
    <span (click)="pick('😅')">😅</span>
    <span (click)="pick('😆')">😆</span>
    <span (click)="pick('😇')">😇</span>
    <span (click)="pick('😈')">😈</span>
    <span (click)="pick('😉')">😉</span>
    <span (click)="pick('😊')">😊</span>
    <span (click)="pick('😋')">😋</span>
    <span (click)="pick('😌')">😌</span>
    <span (click)="pick('😍')">😍</span>
    <span (click)="pick('😎')">😎</span>
    <span (click)="pick('😏')">😏</span>
    <span (click)="pick('😐')">😐</span>
    <span (click)="pick('😑')">😑</span>
    <span (click)="pick('😒')">😒</span>
    <span (click)="pick('😓')">😓</span>
    <span (click)="pick('😔')">😔</span>
    <span (click)="pick('😕')">😕</span>
    <span (click)="pick('😖')">😖</span>
    <span (click)="pick('😗')">😗</span>
    <span (click)="pick('😘')">😘</span>
    <span (click)="pick('😙')">😙</span>
    <span (click)="pick('😚')">😚</span>
    <span (click)="pick('😛')">😛</span>
    <span (click)="pick('😜')">😜</span>
    <span (click)="pick('😝')">😝</span>
    <span (click)="pick('😞')">😞</span>
    <span (click)="pick('😟')">😟</span>
    <span (click)="pick('😠')">😠</span>
    <span (click)="pick('😡')">😡</span>
    <span (click)="pick('😢')">😢</span>
    <span (click)="pick('😣')">😣</span>
    <span (click)="pick('😤')">😤</span>
    <span (click)="pick('😥')">😥</span>
    <span (click)="pick('😦')">😦</span>
    <span (click)="pick('😧')">😧</span>
    <span (click)="pick('😨')">😨</span>
    <span (click)="pick('😩')">😩</span>
    <span (click)="pick('😪')">😪</span>
    <span (click)="pick('😫')">😫</span>
    <span (click)="pick('😬')">😬</span>
    <span (click)="pick('😭')">😭</span>
    <span (click)="pick('😮')">😮</span>
    <span (click)="pick('😯')">😯</span>
    <span (click)="pick('😰')">😰</span>
    <span (click)="pick('😱')">😱</span>
    <span (click)="pick('😲')">😲</span>
    <span (click)="pick('😳')">😳</span>
    <span (click)="pick('😴')">😴</span>
    <span (click)="pick('😵')">😵</span>
    <span (click)="pick('😶')">😶</span>
    <span (click)="pick('😷')">😷</span>
    <span (click)="pick('🙁')">🙁</span>
    <span (click)="pick('🙂')">🙂</span>
    <span (click)="pick('🙃')">🙃</span>
    <span (click)="pick('🙄')">🙄</span>
    <span (click)="pick('🤐')">🤐</span>
    <span (click)="pick('🤑')">🤑</span>
    <span (click)="pick('🤒')">🤒</span>
    <span (click)="pick('🤓')">🤓</span>
    <span (click)="pick('🤔')">🤔</span>
    <span (click)="pick('🤕')">🤕</span>
    <span (click)="pick('🤠')">🤠</span>
    <span (click)="pick('🤡')">🤡</span>
    <span (click)="pick('🤢')">🤢</span>
    <span (click)="pick('🤣')">🤣</span>
    <span (click)="pick('🤤')">🤤</span>
    <span (click)="pick('🤥')">🤥</span>
    <span (click)="pick('🤧')">🤧</span>
    <span (click)="pick('🤨')">🤨</span>
    <span (click)="pick('🤩')">🤩</span>
    <span (click)="pick('🤪')">🤪</span>
    <span (click)="pick('🤫')">🤫</span>
    <span (click)="pick('🤬')">🤬</span>
    <span (click)="pick('🤭')">🤭</span>
    <span (click)="pick('🤮')">🤮</span>
    <span (click)="pick('🤯')">🤯</span>
    <span (click)="pick('🧐')">🧐</span>
</div>