<mat-card class="description">
    <h1>Start page</h1>
    <p>
        Many people nowadays build their own private houses. Like everyone, they dream of making their home beautiful, cozy, reliable and safe and at the same time its total cost was within the expected range at each stage of construction.
    </p>
    <mat-divider></mat-divider>
    <p>
        Almost no one builds on their own and therefore hires construction crews. But as a rule, expectations do not always coincide with real results: either the cost exceeds the plan, or the quality of work performed is not satisfactory anticipation. This picture is very typical for situations where there are two sides: customer and contractor, but during construction it happens more often, because before own home higher requirements.
    </p>
    <mat-divider></mat-divider>
    <p>
        Some issues and differences between the customer and the contractor are easy resolved, and some may even lead to premature termination cooperation. In such situations he may be guilty as an unscrupulous executor, and a very demanding customer. But in any case, such situations do not contribute to the construction process and can even lead to negative ones consequences.
    </p>
    <mat-divider></mat-divider>
    <p>
        If all issues and differences could be resolved easily, then it would definitely save money time and nerves for both parties and in general had a positive effect on the entire construction process. Therefore, it was accepted decision to create a software system that is designed to simplify and accelerate the solution of such problems
    </p>
</mat-card>