<div class="sidenav">
    <div class="sidenav-toggle bg-accent" (click)="toggle()">
        <mat-icon>{{minimized ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
    </div>
    <div class="sidenav-container">
        <mat-selection-list [multiple]="false" *ngIf="minimized">
            <mat-list-option *ngFor="let item of primaryNavLinks" [routerLink]="[item.route]">
                <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
            </mat-list-option>
        </mat-selection-list>
        <mat-selection-list [multiple]="false" *ngIf="!minimized">
            <mat-list-option *ngFor="let item of navLinks" [routerLink]="[item.route]">
                <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                <span>{{item.title}}</span>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>