.search-panel {
    margin: 20px 0;
    padding: 0 5px;
}
.sort-by-select {
    white-space: nowrap;
}
.flip-x {
    transform: scaleY(-1);
}
.appearance-toggle {
    margin-bottom: 20px;
}
.paginator {
    margin: 10px 0;
}